body{
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}iframe{
width: 355px ;
height: 202px ;
border-radius: 15px;
}#msg{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 50%;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: rgba(71, 0, 121, 0.676);
  color: white;
}
#page{
  display: grid;
  grid-template-columns: repeat(3, min(100%));
  overflow-x: scroll;
  height: 135vh;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}#page::-webkit-scrollbar{display: none; width: 0px;}
.conteneur{
  scroll-snap-align: start;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}.conteneur::-webkit-scrollbar{display: none; width: 0px;}
html{
  scroll-behavior: smooth;
  width: 100vw;
  /* overflow-y: scroll; */
  z-index: -3;
  font-size: 24px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; 
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  -webkit-overflow-scrolling: touch;
color: whitesmoke;  }
#tete{
  width: 100%;
  position: sticky;
  z-index: -1;
  display: grid;
  visibility: visible;
  place-items: center;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  height: 70vh;
  background-image: linear-gradient(to bottom, transparent 80%, rgb(40, 1, 40)), url('oddback.png');
  background-position: center;
  background-size: 100% auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
}#intro{
  display: grid;
  transition: all 500ms;
  -webkit-transition: all 500ms;    
  grid-template-columns: minmax( 160px,17vw) auto ;
  gap: 0rem;
  height: 70vh;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  padding: 0 2rem;
  overflow: hidden;
  /* backdrop-filter: blur(8px) contrast(90%);
  -webkit-backdrop-filter: blur(8px) contrast(90%); */
  z-index: 3;
  top: 0;
}
img{ width: 17vw;
  height: auto;
}#intro img{min-width: 160px;}
.details{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}.details h2{
  font-size: 0.7rem;
}.details h3{width: 50%;}
.controle{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.1rem;
}.controle button{
  scale: 0.95;
  border: solid rgb(0, 0, 0);
  outline: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: whitesmoke;
  background-color: rgb(45, 2, 77);
  font-size: 1rem;
  border-radius: 10px;
}.controle button:nth-child(1){
  background-color: rgb(137, 0, 0);
}.controle button:hover{
  background-color: black;
  scale: 1.0;
}.simi{
  display: grid;
  grid-template-columns: repeat(10, minmax(240px, 260px));
  gap: 0.4rem;
  width: 98%;
  margin: auto;
  overflow-x: scroll;}.simi::-webkit-scrollbar{display: none; width: 0px;}
.simi img{
    max-width: 240px;
    border-radius: 8px;
    width: 25.5vw;
    height: auto;}
.big_details{
display: flex;
flex-direction: column; font-size: 0.8rem; margin-left: 2rem;
}.big_details h3{width: 70%;}
.option{
display: flex;
justify-content: space-around;
font-size: 0.9rem;
}.option h1{
cursor: pointer;
color: white;
border-bottom: solid white;
padding: 0.5rem 0rem;
}.option h1:hover{
border-color: #8b03cf;
}#det{border-color: #8b03cf;}
.epi_cont{
display: grid;
justify-items: center;
gap: 1rem;
grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}.epi{
font-size: 0.7rem;
background-color: #1c002b;
display: flex;
width: 360px;
padding: 5px 10px;
justify-content: space-around;
justify-items: center;
flex-direction: column;
line-height: 50%;
border-radius: 30px;
}#sauce{
width: 25%; margin-left: 1rem ; background-color: #1c002b; padding: 5px 0px; border-radius: 5px; border:solid white;
position: relative; 
}#menu_saison{
cursor: pointer;  
position: absolute;
display: none;
flex-direction: column;
color: black;
background-color: rgb(192, 192, 192);
top: 50%;
right: -50%;
z-index: 2;
}#sauce button{
width: 20vw;
font-size: 1rem;
}
#sauce:hover{background-color: #000000;}

@media screen and (max-width : 1000px) {
  .big_details h3{width: 100%;}
  #intro img{padding-top: 40px;}
  img{width: 25.5vw; height: auto; }
  html{font-size: 15px;}
  #tete{background-size: auto 100%; height: 80vh;}
  #intro{height: 80vh; padding: 0;
  grid-template-rows: auto auto;
  grid-template-columns: none;
  justify-items: center;
  }.simi{grid-template-columns: repeat(10, minmax(25.5vw, 1fr));}
.details h3{
  width: 80%; font-size: 1rem;
}.epi{font-size: 1.2rem;}
#sauce{width: 40%; margin-left: 2rem ;}
}             