.grid_container{
    flex: 1;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    border-radius: 60px;
    padding: 80px;
    backdrop-filter: blur(4px);
       
}
@keyframes move {
  from{  background-image: url(/media/wave.jpg) ; }
   to { background-image: url(/media/panda.jpg) ; }

}
.reglage{
    width: 70%;
    text-align: center;
}
#shadow{
    --color_anime2 : rgb(109, 181, 240) ;
    box-shadow: 20px 20px 50px 5px var(--color_anime2);
    transition: all 500ms;
}
.carte{
    box-shadow: 20px 20px 50px 15px black;
    scale: 0.9;
    transition: all 500ms;
}
.carte:hover{
    box-shadow: 20px 20px 50px 15px rgb(249, 249, 249);
    transform: translateY(-3px) scale(1.1);
}
#shadow:hover{
    box-shadow: 20px 20px 50px 15px rgb(249, 249, 249);
    transform: translateY(-3px) scale(1.1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}
.wrapper iframe{
    width: 100% !important;
}
@media (max-width: 800px) {
    .grid_container{
        gap : 1rem ;
    }
}

.onglet_row{
    grid-row: 1;
}
.onglet{
    scale: 0.85;
    display: grid;
    /*background-image: radial-gradient(rgb(54, 53, 53), black);
    /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
    grid-template-columns: repeat(10, minmax(240px, 1fr));
    overflow-x: scroll;
    min-width: 400px;
    overflow-y: hidden;
    border-radius: 50px;
    width: 80%;
    margin: auto;
    padding: 0px 80px;
    gap: 6rem;
    justify-items: center;
}
#ong{margin: auto;}

#the_head{
    display: flex;
    z-index: -5;
    animation: move 20s linear 0s infinite alternate ;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    background-image: linear-gradient(rgba(54, 53, 53, 0.2), rgba(50, 50, 60, 0.2)), url(/media/wave.jpg) ; 
    border-bottom: solid rgba(11, 10, 14, 0.763);
    width: 100%;
    
    margin-bottom: 0px;
}


.grid_item img {
    height: 600px;
    width: 360px;
    border-radius: 15px;
    margin-top: 20px;
}
.grid_container_top{
    display: grid;
    grid-template-columns: 650px auto;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
#more{display: none;}

.episode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300%;
    gap: 3rem;
    font-size: 200%;
    overflow: hidden;
    
}
.episode button{
width: 100%;
padding: 0px 50px;
font-size: 40px;
box-shadow: 20px 20px 50px 15px rgba(169, 168, 168, 0.463);
transition: all 500ms;
text-align: center;
}
.episode button:hover{
    box-shadow: 20px 20px 50px 15px rgb(29, 28, 28);
    transform: translateY(-3px) scale(1.1);
}
.episode_rond{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.episode_rond iframe {
    width: 100% !important;
    height: 760px !important;
}   
.end{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: none;
    margin: none;
    justify-items: left;
}



@media (max-width: 1000px) {
    .episode_rond iframe{
        height: 300px !important;
    }
    .episode{
        width: 100%;
        font-size: 100%;
        gap: 0rem;
    }
    .episode button{
        font-size: 20px;
        width: 100%;
        box-shadow: 20px 20px 50px 15px rgba(218, 78, 78, 0.463);
        transition: all 500ms;
        text-align: center;
    }
    }
@media screen and (max-width: 1000px) {
   
    
    .onglet{
        background: transparent;
        border-radius: 0px;
        padding: 0px 0px;
        width: 100%;
        font-size: 9px  ;
        gap: 1.5rem;
        margin-top: -30px;
        grid-template-columns: repeat(10, minmax(170px, 1fr));

    }
    .carte img{width: 160px !important; height: 280px !important; }
    #ong{margin-top: 0px; width: 100%;}
    .grid_item img {
        height: 600px;
        width: 360px;
        border-radius: 15px;
        margin-top: 20px;
    }
    #toph{display: none;}
    .grid_container_top{
        display: grid;
        /*grid-template-columns: 650px auto;*/
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
    .grid_container_top img{height: 280px !important; width: 160px !important; }
    #nom{scale: 0.5; margin-bottom: 0px !important;}

    #back{background-size: contain !important; background-color: rgb(0, 0, 0);}
    
}
@media screen and (max-width: 390px){
    #back{background-size: contain !important; background-color: rgb(0, 0, 0);}
    .onglet{
       
        width: 100%;
        font-size: 9px  ;
        gap: 1.5rem;
        margin-top: 0px;
        grid-template-columns: repeat(10, minmax(140px, 1fr));

    }
   
    .carte img{width: 110px !important; height: 200px !important; }
    #ong{margin-top: 0px; width: 100%;}
    .grid_container_top p{font-size: 10px !important; overflow: hidden;}
    }






