.carton {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f6eef3;
font-size: 3rem;
color: black;
height: 100%;
width: 100%;
border-radius: 4px;
transition: all 500ms;
overflow: hidden;
box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.carton:hover {
box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
transform: translateY(-3px) scale(1.1);
}

.search{
    display: grid;
    gap: 1rem;
    
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
@media (max-width: 900px){
    .search{
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
}    

.categorie{
/*    background-image: radial-gradient(rgb(54, 53, 53), black);l
    border-radius: 50px;*/
    scale: 0.85;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 80%;
    
    margin: auto;
    padding: 0px 80px;
    gap: 5rem;
    justify-items: center;
}

.carte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    box-shadow: 20px 20px 50px 15px black;
    border-radius: 4px;
    transition: all 500ms;
}.carte2:hover{box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

@media screen and (max-width: 900px) {
    .categorie{
        
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     padding : 0px ;
     gap: 0.5rem;
     width: 100%;
}.carte2{scale: 0.85; font-size: 10px !important;}
.carte2 img{width: 160px !important; 
height: 280px !important;}


#gallerie{
    display: grid !important;
    grid-template-columns: repeat(10, minmax(200px, 1fr));
    overflow-x: scroll;
    margin: auto;
    width: 240px;
    scroll-behavior: smooth;
    gap: 5rem;
    scroll-snap-type: x mandatory;
}     #gallerie2{display: none !important;}

}




@media screen and (max-width: 390px){
    #gallerie{
        display: grid !important;
        grid-template-columns: repeat(10, minmax(200px, 1fr));
        overflow-x: scroll;
        margin: auto;
        width: 240px;
        scroll-behavior: smooth;
        gap: 5rem;
        scroll-snap-type: x mandatory;
    } #gallerie2{display: none !important;}
    .carte2 img{width: 110px !important;
        height: 200px !important;}
        .categorie{
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            padding : 0px ;
            gap: 0.5rem;
            width: 100%;
        }
    }
    .element{
        scroll-snap-align: start;
    }
    
    #gallerie2{
        display: grid;
        grid-template-columns: repeat(5, minmax(1000px, 1fr));
        overflow-x: scroll;
        margin: auto;
        width: 60%;
        gap: 15rem;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    #gallerie2 img{width: 100%; height: 100%; object-fit: contain; border-radius: 60px;}