{% extends 'base.html' %}
{% block content %}

<div class="topnav" id="myTopnav">
    <a href="{% url 'redirect' 'home' %}" class="active"><i class="fa-solid fa-house-chimney-window "></i><span> Home</span></a>
    <a href="{% url 'agenda' %}"><i class="fa-regular fa-calendar-days "></i><span> Agenda</span></a>
    <a href="{% url 'redirect' 'Film' %}"><i class="fa-solid fa-clapperboard"></i><span> Film</span></a>
    <a href="{% url 'redirect' 'mylist' %}"><i class="fa-solid fa-list"></i><span> Ma liste</span></a>
    <div class="dropdown">
      <button class="dropbtn" onclick="menu()"><i class="fa-brands fa-ioxhost "></i> Categories</button>
      <section class="dropdown-content" id="myDropdown">
        <div style="flex: 1;">
            <a href="{% url 'redirect' 'Action' %}">Action</a>
            <a href="{% url 'redirect' 'Aventure' %}">Aventure</a>
            <a href="{% url 'redirect' 'Mystere' %}">Mystere</a>
            <a href="{% url 'redirect' 'Horreur' %}"></i> Horreur</a>
            <a href="{% url 'redirect' 'Comedie' %}">Comedie</a>
            <a href="{% url 'redirect' 'Isekai' %}">Isekai</a>
            <a href="{% url 'redirect' 'Fantaisie' %}">Fantaisie</a>
            <a href="{% url 'redirect' 'Thriller' %}">Thriller</a>
          </div><div style="flex: 2;">
            <a href="{% url 'redirect' 'Drama' %}">Drama</a>
            <a href="{% url 'redirect' 'Romance' %}">Romance</a>
            <a href="{% url 'redirect' 'Slice of life' %}">Slice of life</a>
            <a href="{% url 'redirect' 'Sci-fi' %}">Sci-fi</a>
            <a href="{% url 'redirect' 'Seinen' %}">Seinen</a>
      <a href="{% url 'redirect' 'Shonen' %}">Shonen</a>
      <a href="{% url 'redirect' 'Shojo' %}">Shojo</a>
      <a href="{% url 'redirect' 'Ecchi' %}">Ecchi</a>
    </div>
      </section>
    </div> 
    <a href="{% url 'ajax' %}"><span><i class="fa-solid fa-magnifying-glass"></i> Rechercher</span></a>
    <a href="{% url 'login' %}"><span><i class="fa-solid fa-user"></i> Log in</span></a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menu2()">&#9776;</a>
  </div>

<body style="background-image: radial-gradient(rgb(41, 41, 48), rgb(3, 3, 3)) ; background-attachment: fixed ;background-size: cover; color: gray; ">
    <style>
        a {text-decoration: none;
        color: wheat;}
    </style>
<section style="display: grid; width:60%; margin:auto;">

    <h1 style="text-align: center; font-size:50px ;">Page d'accueil des admin</h1>
<hr>
<h2><a href="onglet/diffuse/">Modifier la page d'accueil</a></h2>
<hr>
<h2><a href="onglet/">Creer ou modifier les onglets</a></h2>
<hr>
<h2><a href="serie/">Ajouter une nouvelle serie</a></h2>
<hr>
<h2><a href="parser/">Trouver les liens pour des animes</a></h2>
<h3 style="text-align: center; font-size:50px ;">Modifier une serie deja existente</h3>
<ul>
    {% for elem in videos %}
    <li><a href="serie/{{elem.id}}/">{{elem.name}}</a></li>
    {% endfor %}
</ul>

</section>
</body>
{% endblock content %}